<div class="container">
    <form [formGroup]="calculatorForm" class="form-container">
        <mat-card class="calculator">
            <mat-card-content>
                <div class="row">
                    <!-- Left Column -->
                    <div class="col-md-4">

                        <mat-form-field class="m-2">
                            <mat-label>Account Balance</mat-label>
                            <input matInput formControlName="accountBalance" type="text" [(ngModel)]="xAccountBalance">
                        </mat-form-field>

                        <mat-form-field class="m-2" appearance="fill">
                            <mat-label>Instrument</mat-label>
                                <mat-select formControlName="instruments">
                                    <mat-option *ngFor="let instrument of instruments" [value]="instrument.pair">
                                    {{instrument.viewValue}}
                                    </mat-option>
                                </mat-select>
                        </mat-form-field>

                        <mat-form-field class="m-2">
                            <mat-label>Stop Loss (pips)</mat-label>
                            <input matInput formControlName="stopLoss" type="text">
                        </mat-form-field>

                    </div>

                    <!-- Middle Column -->
                    <div class="col-md-4 pt-2">
                        <mat-form-field appearance="fill">
                            <mat-label>Risk USD | %</mat-label>
                                <mat-select formControlName="riskFormat">
                                    <mat-option *ngFor="let riskopt of riskOpts" [value]="riskopt.value">
                                    {{riskopt.viewValue}}
                                    </mat-option>
                                </mat-select>
                        </mat-form-field>

                        <mat-form-field class="m-2 pt-2">
                            <mat-label>Open Price</mat-label>
                            <input matInput formControlName="openPrice" type="text">
                        </mat-form-field>

                        <mat-form-field class="m-2">
                            <mat-label>Contract Size</mat-label>
                            <input matInput formControlName="contractSize" type="number">
                        </mat-form-field>

                        <button (click)="calculate()" class="calculate-btn" color="warn" mat-raised-button>calculate</button>
                    </div>

                    <!-- Right Column -->
                    <div class="col-md-4" >
                        <mat-form-field appearance="fill" class="m-2">
                            <mat-label>Risk Amount</mat-label>
                            <input matInput formControlName="risk" type="text">
                        </mat-form-field>
                        
                        <mat-form-field class="m-2">
                            <mat-label>Stop Loss Price</mat-label>
                            <input matInput formControlName="stopLossPrice" type="text">
                        </mat-form-field>

                    </div>

                </div>

            </mat-card-content>
        </mat-card>        
    </form>
    <div class="result-container row">
        <div class="col-md-4">
            <div class="d-inline-flex"><h2 class="remove-margin">-- Lot Size:</h2><p class="remove-margin px-2 d-inline-flex align-items-center">{{negApproxLotSize}}</p></div>

        </div>

        <div class="col-md-4">
        <div class="d-inline-flex"><h2 class="remove-margin">++ Lot Size:</h2><p class="remove-margin px-2 d-inline-flex align-items-center">{{posApproxLotSize}}</p></div>
        </div>

        <div class="col-md-4">
            <div class="d-inline-flex"><h2 class="remove-margin">Precise Lot Size:</h2><p class="remove-margin px-2 d-inline-flex align-items-center">{{preciseLotSize}}</p></div>
            <div class="d-inline-flex"><h2 class="remove-margin">Risk Amount:</h2><p class="remove-margin px-2 d-inline-flex align-items-center">{{riskAmount | currency}}</p></div>
        </div>

        <p>{{xAccountBalance | currency}}</p>
        <p>{{xInstrument}}</p>

       
    </div>
</div>
